* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins","Roboto", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Navigation bar style */

.navbar {
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 3px #00000062;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    background-color: #fffefe;
}

.pic {
    width: 6rem;
    height: 6rem;
    background-image: url("../images/shahab.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.name {
    margin: 0 1.2rem;
    display: flex;
    gap: 0.6rem;
}

.name div span{
    font-size: 2.4rem;
    font-weight: 700;
}

.navbar div {
    text-transform: uppercase;
    font-family: "Roboto";
    display: flex;
    align-items: center;
}

.nav-links ul {
    display: flex;
    gap: 3.6rem;
}

.link-list {
    list-style-type: none;
    font-size: 1.6rem;
}


.links .link-list .header-link {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    padding: 2.2rem 3rem;
    display: inline-block;
    letter-spacing: 1px;
    transition: color 0.6s;
}

.link-list:hover .header-link {
    color: rgb(249, 119, 54);
}


/* main header style */

.hero-header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(76, 67, 67, 0.549),
    rgba(26, 22, 22, 0.523)),
    url("/images/background.jpg");
}

.control-bar {
    position: absolute;
    width: 5rem;
    height: 29.5rem;
    top: 50%;
    left: 0%;
    box-shadow: 1px 1px 1px 1px #33333344;
    border: 1px solid #3333338e;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eee;
}

.control-bar div {
    align-items: center;
}

.icon:hover {
    fill: rgb(249, 119, 54);
    /* stroke: rgb(249, 119, 54); */
}

.icon {
    width: 4.5rem;
    height: 4.5rem;
}

.hero{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 2.4rem;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    text-align: center;
    font-size: 5.4rem;
    text-transform: uppercase;letter-spacing: 1px;
}

.hero p {
    font-size: 2rem;
    text-align: center;
}

.btn {
    width: 20rem;
    height: 6rem;
    background-color: rgb(249, 119, 54);
    box-shadow: 1px 1px 1px #000;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #000;
    transition: transform .3s;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000;
}


.btn:hover, .btn:active {
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(252, 96, 18);
    color: #eee;
}

.btn:active {
    box-shadow: inset 2px 2px 2px #000;
}

.btn:link, .btn:visited {
    text-decoration: none;
    cursor: pointer;
}

/* Mouse form */
.mouse {
    border: 2px solid #000;
    width: 2.5rem;
    height: 4rem;
    position: absolute;
    top: 90%;
    left: 50%;
    border-radius: 1.5rem;
    transform: translateX(-50%);
}

.mouse::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: #000;
    animation: wheel 1.5s infinite;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
}

@keyframes wheel {

    100%{
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        background-color: #000;
        animation: wheel 1.5s infinite;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translateX(-50%);
        opacity: 0;
    }
}


/* About me Section */

.section {
    width: 100%;
    margin-bottom: 3.6rem;
}

.main-container {
    width: 120rem;
    margin: 4.8rem auto;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.top-header {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100vw;
}

.top-header h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

.top-header h1::after {
    content: " ";
    width: 4.2rem;
    height: 0.6rem;
    background-color: rgb(252, 96, 18);
    position: absolute;
    border-radius: 1.2rem;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-header p {
    font-size: 2rem;
}

.second-container {
    display: flex;
    gap: 2.4rem;
    width: 100vw;
}

.aboutme-desc{
    display: flex;
    flex-direction: column;
    width: 70rem;
    padding: 2.4rem;
}

.aboutme-desc h2 {
    font-size: 2.8rem;
}

.aboutme-desc p {
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
    color: #333;
}

.contact:visited, .contact:link {
    width: 18rem;
    height: 5rem;
    background-color: rgb(248, 124, 62);
    border: 1px solid #000;
    margin-top: 2.4rem;
    box-shadow: 1px 1px 2px #000;
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact:hover {
    background-color: rgb(255, 99, 22);
    color: #eee;
    cursor: pointer;
}

.contact:active {
    background-color: rgb(255, 99, 22);
    color: #eee;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px #000;
}

.skills {
    width: 50rem;
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
}

.skills h2 {
    font-size: 2.8rem;
}

.skills-container div {
    display: inline-block;
    background-color: #dbd6d6;
    padding: 0.8rem 1.2rem;
    border-radius: 0.6rem;
    margin: 0.6rem;
    font-size: 1.5rem;
}


/* Project section style */
.project-container{
    display: flex;
    flex-direction: column;
    gap: 7.8rem;
    max-width: 120rem;
    margin: 4.8rem auto;
}

.project-wrapper {
    display: flex;
    max-width: 120rem;
}

.project {
    background-image: url("/images/projectpic.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 72rem;
    height: 40rem;
    position: relative;
}

.project-img {
    position: absolute;
    max-width: 51.1rem;
    height: 31.8rem;
    top: 3rem;
    left: 10.5rem;
    z-index: 9;
}


.project-desc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    height: 40rem;
    padding: 3.4rem;
}

.project-desc h3 {
    font-size: 2.4rem;
}

.project-desc p {
    font-size: 1.8rem;
}

.techs {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.techs h5 {
    font-size: 1.5rem;
}

.techs ul li {
    list-style: none;
    font-size: 1.5rem;
}

/* Contact form */
.contact-form {
    width: 80rem;
    height: 55rem;
    margin: 0 auto;
    background-color: #e0dcb3;
    box-shadow: 1px 1px 1px 3px #00000086;
    padding: 3.6rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    
}

.contact-form form div {
    display: flex;
    flex-direction: column;
    
}

.input-form label{
    font-size: 1.6rem;
    font-weight: 500;
}

.input-form input {
    height: 4rem;
    padding: 0.8rem;
}

#message {
    padding: 2.4rem;
}



@media screen and (max-width: 1210px) {
    .top-header h1 {
        font-size: 2.2rem;
    }
    
    .top-header p {
        font-size: 1.6rem;
    }

    .second-container {
        max-width: 100vw;
    }

    .aboutme-desc h2 {
        font-size: 2.2rem;
    }

    .aboutme-desc p {
        font-size: 1.4rem;
    }

    .contact:visited, .contact:link {
        width: 12rem;
        height: 4rem;
        background-color: rgb(248, 124, 62);
        border: 1px solid #000;
        margin-top: 2.4rem;
        box-shadow: 1px 1px 2px #000;
        color: #000;
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skills h2 {
        font-size: 2.2rem;
    }

    .skills-container div {
        font-size: 1.2rem;
    }

    .project-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .project {
        width: 50rem;
        height: 40rem;
        position: relative;
    }

    .project-img {
        position: absolute;
        width: 35.5rem;
        height: 22.2rem;
        top: 8.2rem;
        left: 7.4rem;
        z-index: 9;
    }

    .project-desc h3 {
        font-size: 2.2rem;
    }

    .project-desc p {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 998px) {
    .nav-links ul {
        gap: 0.5rem;
    }

    .header-link {
        font-size: 1.3rem;
    }

    .links .link-list .header-link {
        padding: 1.2rem 1.4rem;
    }

    .pic {
        width: 5rem;
        height: 5rem;
        margin: 0.5rem;
    }

    .name div span {
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
    }

    .hero h1 {
        font-size: 4.2rem;
    }

    .hero p {
        font-size: 2rem;
    }

    .btn {
        width: 16rem;
        height: 5rem;
    }
}

@media screen and (max-width: 820px) {
    .project-desc {
        padding: 2.4rem;
        gap: 1.5rem;
        justify-content: center;
    }

    .project-desc h3{
        font-size: 1.6rem;
    }

    .project-desc p {
        font-size: 1.2rem;
    }

    .techs h5 {
        font-size: 1.6rem;
    }

    .techs ul li {
        font-size: 1.2rem;
    }

    .project-img {
        position: absolute;
        width: 34.5rem;
        height: 20.2rem;
        top: 8.5rem;
        left: 7.4rem;
        z-index: 9;
    }
}